<ion-header>
  <ion-toolbar>
    <ion-title>Create Word</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >

  <form [formGroup]="createWordForm" (submit)="createWord()">
    <ion-item>
      <ion-label stacked>topic</ion-label>
      <ion-input formControlName=Topic" type="text" placeholder="What's this phrase in Mandarin?"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Mandarin</ion-label>
      <ion-input formControlName="Mandarin" type="text" placeholder="What's this phrase in Mandarin?"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Literal</ion-label>
      <ion-input formControlName="Literal" type="text" placeholder="How is this phrase written literaly in English?">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Translation</ion-label>
      <ion-input formControlName="Translation" type="text" placeholder="How is this phrase written in correct English?"> </ion-input>
    </ion-item>
 
    
    <ion-item>
      <ion-label stacked>Examples</ion-label>
      <ion-input formControlName="example" type="text" placeholder="Give an example?"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Word Part of Speech</ion-label>
      <ion-textarea formControlName="partOfSpeech" type="text"
        placeholder="What's this word's role in a sentence - part of speech?"> </ion-textarea>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!createWordForm.valid"> Add Word </ion-button>
  </form>
</ion-content>
